    <!-- About Section -->
    <section id="about" class="contain page">
      <div class="limiter clearfix pad4y">
        <div class="col8 clearfix space-bottom2 contain">
          <div class="col10 margin2r space-bottom2">
            <h1 class="space-bottom2">State of the Map 2026</h1>
            <p>State of the Map is the annual event for all mappers and OpenStreetMap users. In 2026 the State of the Map conference will be taking place in Paris and online. It will be a three day conference packed with talks, workshops, discussion rounds and more.</p>

            <p>Your organising team.</p>

            <h2>Attending</h2>
            <p>
              If you are attending the conference either in person in Paris or online, here are some useful links to find information:
              <ul style="list-style-type: disc; margin-left: 20px;">
                <li>Hot to get to the <a href="{{site.baseurl}}/venue/">venue</a></li>
                <li><a href="{{site.baseurl}}/programme/">Programme</a></li>
                <li>Programme for your <a href="https://sotm.osmz.ru/sotm2026.html">mobile devices</a></li>
                <li>Connect with other attendees on our chat rooms on <a href="https://matrix.to/#/!uOhylXbXUNhCIpMWkx:matrix.org">Matrix</a> or <a href="https://t.me/sotm_international">Telegram</a>, and follow us on our social media channels, e.g. <a href="https://en.osm.town/@sotm">Mastodon</a>.
                </li>
                <li><a href="{{site.baseurl}}/programme/social_event/">Social Event</a> information</li>
                <li>Conference <a href="{{site.baseurl}}/posters/">Posters</a></li>
                <li><a href="{{site.baseurl}}/stream/">Live Streams</a> – Note that if you have a Venueless ticket, please use the link in your ticket to get to the interactive page with live streams, possibility to ask questions, break-out rooms, etc.</li>
              </ul>  
            </p>
          </div>
        </div>
        <div class="col4 clearfix contain">
          <h3 class="small-title uppercase">Where?</h3>
          <p>
            <!--<a href="venue">-->
              Paris, France<br>
              Cité Descartes, Champs-sur-Marne
            <!--</a>--><br>
            <a href="https://www.openstreetmap.org/?mlat=48.84172&mlon=2.58758">48° 50′ 30″ N, 2° 35′ 15″ E</a>
          </p>

          <h3 class="small-title uppercase">When?</h3>
          <p>
            August 28 - 30, 2026
          </p>

          <!--<h3 class="small-title uppercase"><a href="events">Social Event</a></h3>
          <p>
            TBD
          </p>-->

          <!--<h3 class="small-title uppercase">Additional Events</h3>
          <ul>
          </ul>-->

          <h3 class="small-title uppercase">Partners</h3>
          <p>
            <a href="https://www.ign.fr/"><img src="/img/partners/ign.svg"                 style="display:block; width:125px; background-color:#eee; border-radius:5px; padding: 15px; margin-top:   0; margin-bottom:10px; float: right;" /></a>
            <a href="https://geodata-paris.fr/"><img src="/img/partners/geodata_paris.svg" style="display:block; width:195px; background-color:#eee; border-radius:5px; padding:    0; margin-top:10px; margin-bottom:10px;" /></a>
            <a href="https://www.univ-gustave-eiffel.fr/"><img src="/img/partners/uge.svg" style="display:block; width:195px; background-color:#eee; border-radius:5px; padding: 15px; margin-top:10px; margin-bottom:10px;" /></a>
            <a href="https://www.ecoledesponts.fr/"><img src="/img/partners/enpc.svg"      style="display:block; width:195px; background-color:#eee; border-radius:5px; padding:  5px; margin-top:10px; margin-bottom:10px;" /></a>
            <a href="https://www.equinix.com/"><img src="/img/partners/equinix.svg"        style="display:block; width:195px; background-color:#eee; border-radius:5px; padding:  5px; margin-top:10px; margin-bottom:10px;" /></a>
          </p>

          <h3 class="small-title uppercase" style="height:0">&nbsp;</h3>
          <p>
            <h4>Support OpenStreetMap!</h4>
            <small>OpenStreetMap is free to use, but not free to run. If you wish to further support the project, head over to OpenStreetMap's <a href="https://supporting.openstreetmap.org/">donation</a> page to find out how you can help improve its stability, quality and independence.</small>
            <a href="https://openstreetmap.org"><img src="img/osm.svg" style="display:block; width:225px; margin-top:20px; margin-bottom:30px;" /></a>
          </p>
        </div>
      </div>
    </section>
