    <!-- About Section -->
    <section id="about" class="contain page">
      <div class="limiter clearfix pad4y">
        <div class="col8 clearfix space-bottom2 contain">
          <div class="col10 margin2r space-bottom2">
            <h1 class="space-bottom2">State of the Map 2026</h1>
            <p>State of the Map is the annual event for all mappers and OpenStreetMap users. In 2026 the State of the Map conference took place in Paris and online. It was a three day conference packed with talks, workshops, discussion rounds and more.</p>

            <h2 class="space-bottom2">Thank you for attending!</h2>
            <p>
              In case you missed a particular talk or want to re-watch a particular one, you can find recording of all talks <a href="https://peertube.openstreetmap.fr/c/sotm_2026/videos">on Peertube</a> (and linked from the conference <a href="{{site.baseurl}}/programme/">Programme</a> here).
              Also, take a look at this year's conference <a href="{{site.baseurl}}/posters/">Posters</a>.
            </p>
            <p>
              And don't forget: It's never too late to connect with other attendees on our chat rooms on <a href="https://matrix.to/#/!uOhylXbXUNhCIpMWkx:matrix.org">Matrix</a> or <a href="https://t.me/sotm_international">Telegram</a>, or on our social media channels, e.g. <a href="https://en.osm.town/@sotm">Mastodon</a>.
            </p>

            <p>Your organising team.</p>

            <h2 class="space-bottom2">State of the Map 2027</h2>
            <p>
              We're excited to announce that SotM 2027 will be hosted in Bogotá, Colombia! Below are a few words as an early invitation from the local team in Colombia:
            </p>
            <p><i>
              “Dear OpenStreetMap community: greetings from Colombia!
              We are thrilled and honored to welcome State of the Map 2027 to Bogotá. After many years, the global conference returns to Latin America, and our community could not be more excited to host you. The conference will take place in July 2027 at the campus of the National University of Colombia, a green, historic campus in the heart of the city — the same venue where we recently celebrated State of the Map Colombia. Behind this bid is the whole Colombian OSM community, led by AC3, our local chapter, together with mappers from across Latin America who have long dreamed of bringing SotM to the region. Bogotá awaits you at 2,600 meters closer to the stars, with eternal spring weather, coffee, music, and the warmth of our people.
              ¡Nos vemos en Bogotá!”
            </i></p>
          </div>
        </div>
        <div class="col4 clearfix contain">
          <h3 class="small-title uppercase">Where?</h3>
          <p>
            <a href="venue">
              Paris, France<br>
              Cité Descartes, Champs-sur-Marne
            </a><br>
            <a href="https://www.openstreetmap.org/?mlat=48.84172&mlon=2.58758">48° 50′ 30″ N, 2° 35′ 15″ E</a>
          </p>

          <h3 class="small-title uppercase">When?</h3>
          <p>
            August 28 - 30, 2026
          </p>

          <!--<h3 class="small-title uppercase"><a href="events">Social Event</a></h3>
          <p>
            TBD
          </p>-->

          <!--<h3 class="small-title uppercase">Additional Events</h3>
          <ul>
          </ul>-->

          <h3 class="small-title uppercase">Partners</h3>
          <p>
            <a href="https://www.ign.fr/"><img src="/img/partners/ign.svg"                 style="display:block; width:125px; background-color:#eee; border-radius:5px; padding: 15px; margin-top:   0; margin-bottom:10px; float: right;" /></a>
            <a href="https://geodata-paris.fr/"><img src="/img/partners/geodata_paris.svg" style="display:block; width:195px; background-color:#eee; border-radius:5px; padding:    0; margin-top:10px; margin-bottom:10px;" /></a>
            <a href="https://www.univ-gustave-eiffel.fr/"><img src="/img/partners/uge.svg" style="display:block; width:195px; background-color:#eee; border-radius:5px; padding: 15px; margin-top:10px; margin-bottom:10px;" /></a>
            <a href="https://www.ecoledesponts.fr/"><img src="/img/partners/enpc.svg"      style="display:block; width:195px; background-color:#eee; border-radius:5px; padding:  5px; margin-top:10px; margin-bottom:10px;" /></a>
            <a href="https://www.equinix.com/"><img src="/img/partners/equinix.svg"        style="display:block; width:195px; background-color:#eee; border-radius:5px; padding:  5px; margin-top:10px; margin-bottom:10px;" /></a>
          </p>

          <h3 class="small-title uppercase" style="height:0">&nbsp;</h3>
          <p>
            <h4>Support OpenStreetMap!</h4>
            <small>OpenStreetMap is free to use, but not free to run. If you wish to further support the project, head over to OpenStreetMap's <a href="https://supporting.openstreetmap.org/">donation</a> page to find out how you can help improve its stability, quality and independence.</small>
            <a href="https://openstreetmap.org"><img src="img/osm.svg" style="display:block; width:225px; margin-top:20px; margin-bottom:30px;" /></a>
          </p>
        </div>
      </div>
    </section>
