    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="limiter">
                <div class="logo">
                    <img src="img/logo/sotm_2026.svg">
                    <h1>State of the Map 2026</h1>
                    <a href="#about" class="btn btn-circle page-scroll page-scroll-silent">
                      <i class="icon big down animated"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="credits">
          <a href="https://wiki.openstreetmap.org/wiki/File:SotM_2026.svg">Logo</a>: © LySioS, <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a><br><a href="https://commons.wikimedia.org/wiki/File:%C3%8Ele_de_la_Cit%C3%A9_shortly_before_sunrise,_West_View_140320_1.jpg">Background:</a> © Daniel Vorndran / DXR, <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY-SA 3.0</a>
        </div>
    </header>
