<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      {% if page.title %}
        {{ page.title }} - {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="icon" type="image/png" href="/img/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/img/icons/favicon.svg" />
    <link rel="shortcut icon" href="/img/icons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png" />
    <link rel="manifest" href="/img/icons/site.webmanifest" />
    <meta name="apple-mobile-web-app-title" content="{{ page.title }}">
    <meta name="application-name" content="{{ page.title }}">
    <meta name="theme-color" content="{{ color.primary-dark }}">

    <meta property="og:image" content="{{ "/img/logo/sotm_2026.svg" | prepend: site.baseurl }}">
    <meta property="og:image:height" content="300">
    <meta property="og:image:width" content="300">
    {% if page.layout == "session" or page.layout == "session_academic" %}
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="Talk at {{ site.title }}. {{ site.description }}">
    {% else %}
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    {% endif %}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">
</head>
